{% extends "base.html" %}

{% block title %}Create a Chart Note{% endblock %}

{% block content %}
<h2>Create a Chart Note for <a href="{% url 'patients:detail' patient.id %}">{{patient}}</a></h2>

<div>
    <form method="post" id="editor-container">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Save Permanent Patient Record" onclick="confirmSubmit()">
    </form>
</div>

<script>
    function confirmSubmit() {
        return confirm("Are you sure?")
    }
</script>

{% endblock %}