{% extends "base.html" %}

{% block title %}Appointment Details{% endblock %}

{% block content %}
<h2>Appointment Details</h2>
<ul>
    <li>Date: {{ appointment.appointment_date }} </li>
    <li>Time: {{ appointment.start_time}} -  {{ appointment.end_time}} </li>
    <li> Patient: 
        <a href="{% url 'patients:detail' appointment.patient.id %}">
           {{ appointment.patient.first_name }} {{ appointment.patient.last_name }}
        </a>
    </li>
    <li>Practitioner: <a href="{% url 'appointments:practitioner-detail' appointment.practitioner.id  %}">{{ appointment.practitioner }}</a></li>
    {% if chartnote.id %}
    <li>
        Appointment Chart Notes:
        <a href="{% url 'appointments:appointment-chartnote' chartnote.id %}">
            Chart Note for {{appointment.patient.first_name}} {{appointment.patient.last_name}}
        </a>
    
    </li>
        
    {% endif %}
</ul>
<nav>
    <a href="{% url 'appointments:update' appointment.id %}">Update Appointment</a>
    <a href="{% url 'appointments:delete' appointment.id %}">Delete Appoinment</a>
</nav>
{% endblock %}
