{% extends "base.html" %} 
{% block title %} 
Appointments Index 
{% endblock %} 
{%block content %}
<h2>Scheduled Appointments</h2>

<a href="{% url 'appointments:add' %}">Book a new appointment</a>

{% for appt in appointments %}
<a href="{% url 'appointments:detail' appt.id %}"><li>{{appt.appointment_date}} 
        <ul>
            <li>Time: {{appt.start_time}} - {{appt.end_time}}</li>
            <li> {{appt.practitioner}} </li>
        </ul>
    </li> </a>
  {% endfor %}
{% endblock content %}
