{% extends "base.html" %}

{% block title %}Practitioner Details{% endblock %}

{% block content %}
<h2>{{practitioner}}</h2>
<a href="{% url 'practitioners:appointments' practitioner.id %}">View upcoming appointments for this practitioner</a>
<a href="{% url 'practitioners:chartnotes' practitioner.id %}">View appointment chart notes for this practitioner</a>
<ul>
    <li>Prescriber: <span class="attribute">{{practitioner.is_prescriber}}</span></li>
    <li>License #: <span class="attribute">{{ practitioner.license_number }}</span> </li>
    <li>Email: <span class="attribute">{{ practitioner.email}}</span></li>
    <li>DOB: <span class="attribute">{{ practitioner.dob }}</span></li>
    <li>Gender: <span class="attribute">{{ gender_display }}</span></li>
    <li>Days available: <span class="attribute">{{ days_available }}</span></li>
</ul>

{% endblock %}