{% extends "base.html" %}

{% block title %}Patient Charts{% endblock %}


{% block content %}
<h2>Patient Charts</h2>
<h3>Viewing chart notes for <a href="{% url 'patients:detail' patient.id %}">{{patient}}</a></h3>
<div>
    <ul>
        {% for note in chartnotes %}
        <li>
            <p>
                <a href="{% url 'appointments:detail' note.appointment.id %}">
                    {{note.appointment.practitioner}} on {{note.appointment.appointment_date}}
                </a>
            </p>
            <div class="chart-note">
                {{ note.chart_note.html|safe }}
            </div>
        </li>
        {% endfor%}
    </ul>

</div>


{% endblock %}