{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Integrated Health Clinic{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'application.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
</head>
<body>
  <div id="content">
    <h1>Integrated Health Clinic</h1>
    <nav>
      <a href="{% url 'appointments:index' %}">Appointments</a>
      <a href="{% url 'patients:index' %}">Patients</a>
      <a href="{% url 'appointments:practitioner-index' %}">Practitioners</a>
      <a href="{% url 'appointments:add' %}">Book a new appointment</a> 
      <a href="{% url 'patients:add' %}">Create a new patient</a>
      
    </nav>
    {% block content %}{% endblock %}
  </div>
</body>
</html>