{% extends "base.html" %}

{% block title %}Patient Detail{% endblock %}

{% block content %}
<h2>Patient Information for {{patient}}:</h2>
<nav>
  <a href="{% url 'patients:update' patient.id %}">Update Patient Info</a>
  <a href="{% url 'patients:delete' patient.id %}">Delete Patient</a>
</nav>
<ul>
  <li>Name: {{ patient.first_name }} {{ patient.last_name }}</li>
  <li>Email: {{ patient.email }}</li>
  <li>Date of Birth: {{ patient.dob }} </li>
  <li>Address: {{patient.address}}</li>
  <li>Gender: {{gender_display}}</li>
  <li>Primary Practitioner: 
    <a href="{% url 'appointments:practitioner-detail' patient.primary_practitioner.id %}">
      {{patient.primary_practitioner}}
    </a>
    
  </li>
  <li>Prescription: {{script_name}}</li>
  <li>Prescription Instructions: {{ instructions }}</li>
  <li>
    <a href="{% url 'patients:patient-chartnotes' patient.id %}">View chart notes for this patient</a>
  </li>
</ul>
{% endblock %}
