{% extends "base.html" %}

{% block title %}Patient Detail{% endblock %}

{% block content %}
<a href="{% url 'patients:index' %}">Patients Directory</a>
<h2>Viewing Patient with ID {{patient.id}}:</h2>
<a href="{% url 'patients:update' patient.id %}">Update Patient Info</a>
<ul>
  <li>Name: {{ patient.first_name }} {{ patient.last_name }}</li>
  <li>Email: {{ patient.email }}</li>
  <li>Date of Birth: {{ patient.dob }} </li>
  <li>Address: {{patient.address}}</li>
  <li>Gender: {{gender_display}}</li>
  <li>Primary Practitioner: {{patient.primary_practitioner}}</li>
  <li>Prescription: {{script_name}}</li>
  <li>Prescription Instructions: {{ instructions }}</li>
</ul>
<a href="{% url 'patients:delete' patient.id %}">Delete Patient</a>
{% endblock %}
